blinker            
click              
flask              
Flask-Cors         
Flask-JWT-Extended 
Flask-Login        
flask-sqlalchemy   
greenlet           
importlib-metadata 
itsdangerous       
Jinja2             
MarkupSafe         
pip                
pkg-resources      
PyJWT              
python-dotenv      
setuptools         
SQLAlchemy         
typing-extensions  
werkzeug           
zipp               
