{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1
	align="center"
	class="mt-4">
	Blogs
</h1>

<form method="POST">
	<input
		type="text"
		placeholder="Enter the title"
		name="title"
		id="title" />
	<textarea
		placeholder="Type the blog here..."
		name="blog"
		id="blog"
		class="form-control"></textarea>
	<br />
	<div align="center">
		<button
			type="submit"
			class="btn btn-primary">
			Submit
		</button>
	</div>
	<!--
    <div id="toolbar">
		<button class="ql-bold">Bold</button>
		<button class="ql-italic">Italic</button>
		<button class="ql-underline">Underline</button>
		<button class="ql-strike">Strike</button>
		<button class="ql-blockquote">Quote</button>
		<button
			class="ql-list"
			value="ordered">
			Ordered List
		</button>
		<button
			class="ql-list"
			value="bullet">
			Bullet List
		</button>
		<select class="ql-align">
			<option selected></option>
			<option value="center"></option>
			<option value="right"></option>
			<option value="justify"></option>
		</select>
		<select class="ql-color"></select>
		<select class="ql-background"></select>
	</div>

	<div id="editor">
		<p>Hello World!</p>
	</div>

	<button class="btn btn-success">Create blog</button>

	<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>

	<script>
		var editor = new Quill('#editor', {
			modules: { toolbar: '#toolbar' },
			theme: 'snow',
		})
	</script>
    -->
</form>
<ul
	class="list-group list-group-flush"
	id="blogs">
	{% for blog in blogs %}
	<li class="list-group-item">
		<p class="font-weight-bold mb-4 mt-3">{{blog.title}}</p>
		{{blog.data}}
		<p class="font-italic text-right">-- by {{user.first_name}}</p>
		<button
			type="button"
			class="close"
			onClick="deleteBlog({{ blog.id }})">
			<span aria-hidden="true">&times;</span>
		</button>
	</li>
	{% endfor %}
</ul>

{% endblock %}
